
@{
    ViewBag.Title = "Ver Bienes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Numero de patrminio </th>
                <th>Codigo de Barras</th>
                <th>Numero de Factura</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serie</th>
                <th>Estado</th>
                <th>Condicion</th>
                <th>Ubicacion</th>
                <th>Especialidad</th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td>hola</td>
        </tr>
    </tbody>
    </table>

</div>
<h2 >Ver Bienes</h2>


