@model IEnumerable<Inventario.Models.Bienes>

@{
    ViewBag.Title = "Ver Bienes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<table class="table">
   

@foreach (var item in Model)
{
}

</table>
